<div class="container">
  <h1>Profile</h1>
  <div class="profile-pic mt-4">
    <%= image_tag(current_user.avatar, alt: "avatar", class: "avatar-large", id: "avatar") %>
  </div>
  <div class="profile-text mt-4">
    <h5>Hi, I am Rahman!</h5>
    <h4>About me</h4>
    <p>I am passionate about languages. I travel a lot and want to be able to speak the local languages.</p>
  </div>
</div>
