<div class="footer">
  <div class="footer-copyright">
    Copyright CASA Bremen 2021
  </div>
  <div class="footer-links">
    <a href="https://github.com/rshafiee/CASA-LMS"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/casa_sprachschule/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://de-de.facebook.com/pages/category/School/CASA-Internationale-Sprachschule-136717096341699/"><i class="fab fa-facebook"></i></a>
    <a href="https://de.linkedin.com/company/casa-internationale-sprachschule"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
