development:
  adapter: redis
  url: <%= ENV.fetch("REDISCLOUD_URL", "redis://localhost:6379/0") %>
  channel_prefix: app_production
test:
  adapter: test

production:
  adapter: redis
  url: <%= ENV.fetch("REDISCLOUD_URL") { "redis://localhost:6379/1" } %>
  channel_prefix: lms_casa_production
