<div class="container">
  <h1 class="mt-5 text-center">Editing Course</h1>

  <%= render 'form', course: @course %>
<br>
<!--   <%#= link_to 'Show', @course, class: "btn-info" %> |
  <%#= link_to 'Back', courses_path, class: "btn-info" %> -->
</div>

<br>
<br>
<br>
<br>

<%= render "shared/footer" %>
