.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 1px solid black;
  object-fit: cover;
  cursor: pointer;
}

.avatar:hover {
  webkit-filter: blur(1px); /* Chrome, Safari, Opera */
  filter: blur(1px);
}
.avatar-large {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-course {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // border: 1px solid black;
  object-fit: cover;
  cursor: pointer;
}

.avatar-course:hover {
  // webkit-filter: blur(1px); /* Chrome, Safari, Opera */
  // filter: blur(1px);
  width: 55px;
  height: 55px;
  transition: all 0.5s ease-out;
}
