.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner-sign-in {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 70vh;
  // border-radius: 6px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .8;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.banner-sign-in h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner-sign-in p {
  font-size: 24px;
  color: white;
  opacity: .8;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
