.footer {
  background: #100B1E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(243, 240, 249, 0.6);
  // border-top-left-radius: 30px;
  // border-top-right-radius: 30px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(243, 240, 249, 0.6);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: rgb(243, 240, 249);
}
