.form-control {
  border: none !important;
  border-radius: 4px !important;
  border: 1px solid #ddd !important;
  height: 50px !important;
}
.form-control:hover {
  border: 1px solid rgba(30, 221, 136, 1) !important;
}
.form-group {
  font-weight: lighter !important;
  color: gray !important;
}

.login {
  width: 450px;
  padding: 28px;
  border-radius: 10px;
}

.signup {
  width: 450px;
  border-radius: 10px !important;
}

.confirmation {
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 16px;
  padding: 28px;
  border: 1px solid #F3F0F9;
  border-radius: 8px;
}

.datepicker {
  border-radius: 8px !important;
  padding: 14px;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #f6f2f9b3 !important;
  border: 1px solid #2F4F60;
  justify-content: left;
}
